<div class="loginContainer">
    <div class="container">
        <div class="layoutRow layoutAlignSpaceAroundCenter">
            <div class="flex-30">
                <div class="avatarFrameoffline marto15 marbo15">
                    <img src="assets/img/generic_avatar.png" class="avatarImage img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="layoutRow layoutAlignSpaceAroundCenter">
            <div class="flex-50">
                <div class="center">
                    <h3>Iniciar sesión</h3>
                </div>
                <p *ngIf="operation == 'register'">¿Ya tienes cuenta? Has
                  <a (click)="operation = 'login'">login</a>
                </p>
                <p *ngIf="operation == 'login'">¿No tienes cuenta?
                  <a (click)="operation = 'register'">Registrarse</a>
                </p>
                <div class="borderedContainer">
                    <form class="app-form layoutColumn">
                        <mat-form-field class="full-width">
                            <input matInput type="email" placeholder="Ingrese email">
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <input matInput type="password" placeholder="Ingrese contraseña">
                        </mat-form-field>

                        <mat-form-field *ngIf="operation == 'register'" class="full-width">
                          <input matInput type="text" placeholder="Ingrese nick">
                        </mat-form-field>
                    </form>
                </div>
                <div class="center marto15">
                  <button *ngIf="operation == 'login'"  mat-raised-button color="primary">Iniciar sesión</button>
                  <button *ngIf="operation == 'register'"  mat-raised-button color="primary">Registrarme</button>
                </div>
            </div>
        </div>
    </div>
</div> 