<div id="profileContainer">
  <div class="container pato45">
    <div class="layoutRow">
      <div class="col-photo">
        <div
          class="avatarFrameonline"
          [ngClass]="{
            avatarFrameaway: user && user.status === 'away',
            avatarFramebusy: user && user.status === 'busy',
            avatarFrameoffline: user && user.status === 'appear_offline'
          }"
        >
          <img
            [src]="croppedImage || user && user.avatar || 'assets/img/generic_avatar.png'"
            alt=""
            class="avatarImage img-fluid"
          />
        </div>
        <div class="marto15 ">
          <div class="lbl-file-upload">Cambiar foto</div>
          <label class="custom-file-upload">
            <input
              type="file"
              (change)="fileChangeEvent($event)"
              name=""
              id=""
            />
            Subir avatar
          </label>
        </div>
      </div>
      <div *ngIf="user" class="flex-1 marle15">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="1/1"
          [resizeToWidth]="128"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>

        <form class="app-form layoutColumn">
          <mat-form-field class="full-width">
            <input
              [(ngModel)]="user.nick"
              name="nick"
              matInput
              type="text"
              placeholder="Ingrese un nick"
            />
          </mat-form-field>

          <mat-form-field class="full-width">
            <input
              [(ngModel)]="user.subnick"
              name="subnick"
              matInput
              type="text"
              placeholder="Ingrese un subnick"
            />
          </mat-form-field>

          <mat-form-field class="full-width">
            <input
              [(ngModel)]="user.email"
              name="email"
              matInput
              type="email"
              disabled
              placeholder="Ingrese un email"
            />
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Estado</mat-label>
            <mat-select [(ngModel)]="user.status" name="status">
              <mat-option *ngFor="let st of statusList" [value]="st.slug">
                {{ st.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="center marto15">
            <button
              (click)="saveSettings()"
              mat-raised-button
              color="primary"
              class="full-width"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
