/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-touch-callout: none;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background: #fff;
  font-size: 1.6rem;
}

#root {
  height: 100%;
}

.text-icons {
  line-height: 1rem;
}

.wrap {
  transition: margin-top .2s cubic-bezier(0.230, 1.000, 0.320, 1.000),
    min-height .2s cubic-bezier(0.230, 1.000, 0.320, 1.000), ;
  height: 100%;
  overflow: hidden;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

.content {
  flex: 1;
  box-shadow: 0 0 0 1px #e0e0e0;
  background-color: white;
  position: relative;
}

a {
  color: #607d8b;
  text-decoration: none;
}
a:hover {
  color: #2196f3;
}

p {
  font-size: 1.6rem;
}

.text-right {
  text-align: right
}

.text-title.format {
  font-weight: 300;
  text-transform: uppercase;
}

.text-title,
.text-title>* {
  font-size: 2.6rem;
}

.childs-inline * {
    display: inline-block;
}

.display-inline {
  display: inline-block;
}

.gutter-right {
  margin-right: 1.6rem;
}

a {
  cursor: pointer;
}

.to-upper {
  text-transform: uppercase
}

.link-normal {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.full-height {
  height: 100%;
}

.text-error {
  color: #F44336;
}

/* blick: parpadeo */
.blink {
  animation: blink 1s step-start 0s infinite;
}

::-webkit-scrollbar {
  overflow: visible;
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0;
}

::-webkit-scrollbar-track:horizontal {
  border-width: 0
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(0,0,0, .05);
  box-shadow: inset 1px 0 0 rgba(0,0,0, .1);
}

::-webkit-scrollbar-track:horizontal:hover {
  background-color: rgba(0,0,0, .05);
  box-shadow: inset 0 1px 0 rgba(0,0,0, .1)
}

::-webkit-scrollbar-track:active {
  background-color: rgba(0,0,0, .05);
  box-shadow: inset 1px 0 0 rgba(0,0,0, .14), inset -1px 0 0 rgba(0,0,0, .07);
}

::-webkit-scrollbar-track:horizontal:active {
  box-shadow: inset 0 1px 0 rgba(0,0,0, .14), inset 0 -1px 0 rgba(0,0,0, .07)
}

::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  background-color: rgba(0,0,0, .2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0;
  min-height: 28px;
  box-shadow: inset 1px 1px 0 rgba(0,0,0, .1), inset 0 -1px 0 rgba(0,0,0, .07);
}

::-webkit-scrollbar-thumb:horizontal {
  border-width: 0;
  box-shadow: inset 1px 1px 0 rgba(0,0,0, .1), inset -1px 0 0 rgba(0,0,0, .07);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0, .4);
  box-shadow: inset 1px 1px 1px rgba(0,0,0, .25);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0,0,0, 0.5);
  box-shadow: inset 1px 1px 3px rgba(0,0,0, 0.35);
}

.layoutAlign,
.layoutAlignStartStretch {
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.layoutAlignStart,
.layoutAlignStartCenter,
.layoutAlignStartEnd,
.layoutAlignStartStart,
.layoutAlignStartStretch {
  justify-content: flex-start;
}

.layoutAlignCenter,
.layoutAlignCenterCenter,
.layoutAlignCenterEnd,
.layoutAlignCenterStart,
.layoutAlignCenterStretch {
  justify-content: center;
}

.layoutAlignEnd,
.layoutAlignEndCenter,
.layoutAlignEndEnd,
.layoutAlignEndStart,
.layoutAlignEndStretch {
  justify-content: flex-end;
}

.layoutAlignSpaceAround,
.layoutAlignSpaceAroundCenter,
.layoutAlignSpaceAroundEnd,
.layoutAlignSpaceAroundStart,
.layoutAlignSpaceAroundStretch {
  justify-content: space-around;
}

.layoutAlignSpaceBetween,
.layoutAlignSpaceBetweenCenter,
.layoutAlignSpaceBetweenEnd,
.layoutAlignSpaceBetweenStart,
.layoutAlignSpaceBetweenStretch {
  justify-content: space-between;
}

.layoutAlignCenterStart,
.layoutAlignEndStart,
.layoutAlignSpaceAroundStart,
.layoutAlignSpaceBetweenStart,
.layoutAlignStartStart {
  align-items: flex-start;
  align-content: flex-start;
}

.layoutAlignCenterCenter,
.layoutAlignEndCenter,
.layoutAlignSpaceAroundCenter,
.layoutAlignSpaceBetweenCenter,
.layoutAlignStartCenter {
  align-items: center;
  align-content: center;
  max-width: 100%;
}

.layoutAlignCenterCenter>*,
.layoutAlignEndCenter>*,
.layoutAlignSpaceAroundCenter>*,
.layoutAlignSpaceBetweenCenter>*,
.layoutAlignStartCenter>* {
  max-width: 100%;
  box-sizing: border-box;
}

.layoutAlignCenterEnd,
.layoutAlignEndEnd,
.layoutAlignSpaceAroundEnd,
.layoutAlignSpaceBetweenEnd,
.layoutAlignStartEnd {
  align-items: flex-end;
  align-content: flex-end;
}

.layoutAlignCenterStretch,
.layoutAlignEndStretch,
.layoutAlignSpaceAroundStretch,
.layoutAlignSpaceBetweenStretch,
.layoutAlignStartStretch {
  align-items: stretch;
  align-content: stretch;
}

.layoutRow {
  flex-direction: row;
  display: flex;
}

.layoutColumn {
  display: flex;
  flex-direction: column;
}

.flexWrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.flex-30{
  flex: 1 1 100%;
  max-width: 30%;
  max-height: 100%;
  box-sizing: border-box;
}

.flex-50{
  flex: 1 1 100%;
  max-width: 50%;
  max-height: 100%;
  box-sizing: border-box;
}

/** bs classes **/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

/** end **/

.avatarFrameonline {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d2ff6b+0,81ff3d+50,0cff00+51,0dbc03+100 */
  background: #d2ff6b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d2ff6b 0%, #81ff3d 50%, #0cff00 51%, #0dbc03 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d2ff6b 0%, #81ff3d 50%, #0cff00 51%, #0dbc03 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d2ff6b 0%, #81ff3d 50%, #0cff00 51%, #0dbc03 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff6b', endColorstr='#0dbc03', GradientType=0);
  /* IE6-9 */
  text-align: center;
  padding: 5%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.36);
  -webkit-box-shadow: 3px 3px 21px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 21px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 21px 1px rgba(0, 0, 0, 0.75);
  display: inline-block;
}
.avatarFrameoffline {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #eae5e5 45%, #c1bdbd 47%, #bab6b6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #eae5e5 45%, #c1bdbd 47%, #bab6b6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #eae5e5 45%, #c1bdbd 47%, #bab6b6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#bab6b6', GradientType=0);
  /* IE6-9 */
  text-align: center;
  padding: 5%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.36);
  -webkit-box-shadow: 3px 3px 21px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 21px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 21px 1px rgba(0, 0, 0, 0.75);
  display: inline-block;
}
.avatarFrameaway {
  background: rgba(237, 133, 21, 1);
  background: -moz-linear-gradient(left, rgba(237, 133, 21, 1) 0%, rgba(237, 133, 21, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2237, 133, 21, 1)), color-stop(100%, rgba(237, 133, 21, 1)));
  background: -webkit-linear-gradient(left, rgba(237, 133, 21, 1) 0%, rgba(237, 133, 21, 1) 100%);
  background: -o-linear-gradient(left, rgba(237, 133, 21, 1) 0%, rgba(237, 133, 21, 1) 100%);
  background: -ms-linear-gradient(left, rgba(237, 133, 21, 1) 0%, rgba(237, 133, 21, 1) 100%);
  background: linear-gradient(to right, rgba(237, 133, 21, 1) 0%, rgba(237, 133, 21, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1);
  text-align: center;
  padding: 5%;
  border-radius: 10px;
  border: 1px solid #ED8515;
  display: inline-block;
}
.avatarFramebusy {
  background: rgba(246, 3, 14, 1);
  background: -moz-linear-gradient(left, rgba(246, 3, 14, 1) 0%, rgba(246, 3, 14, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246, 3, 14, 1)), color-stop(100%, rgba(246, 3, 14, 1)));
  background: -webkit-linear-gradient(left, rgba(246, 3, 14, 1) 0%, rgba(246, 3, 14, 1) 100%);
  background: -o-linear-gradient(left, rgba(246, 3, 14, 1) 0%, rgba(246, 3, 14, 1) 100%);
  background: -ms-linear-gradient(left, rgba(246, 3, 14, 1) 0%, rgba(246, 3, 14, 1) 100%);
  background: linear-gradient(to right, rgba(246, 3, 14, 1) 0%, rgba(246, 3, 14, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1);
  text-align: center;
  padding: 5%;
  border-radius: 10px;
  border: 1px solid #F6030E;
  display: inline-block;
}

.center {
  text-align: center !important;
}

.marto15 {
  margin-top: 15px;
}

.marbo15 {
  margin-bottom: 15px;
}

.marle15 {
  margin-left: 15px;
}

/** end aux */
.wrap {
  transition: margin-top .2s cubic-bezier(.23, 1, .32, 1),
  min-height .2s cubic-bezier(.23, 1, .32, 1);
  height: 100%;
  overflow: hidden;
}
.generalContent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}
.mainContent{
  flex: 1;
  background-color: #fff;
  position: relative;
}
.innerWrap{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
}
.innerWrap > .inner {
  height: 100%;
  overflow-x: hidden;
}

.full-width {
  width: 100%;
}
.disblo {
  display: block !important;
}
.pato45 {
  padding-top: 45px;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  background: #f2f6f8;
  background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
  background: -webkit-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
  background: linear-gradient(to bottom, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0);
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #8dd2f3;
}

#homeAvatarPicture {
  max-width: 100px;
}

.shaker {
  animation: shake .5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}