<div id="homeContainer">
  <div class="whiteBorderGlassBox">
    <div class="homeHeadContainer">
      <div class="layoutRow flexWrap">
        <div class="col-avatar">
          <div 
            class="avatarFrameonline"
            [ngClass]="{'avatarFrameaway': user && user.status === 'away', 'avatarFramebusy': user && user.status ===
            'busy',
            'avatarFrameoffline': user && user.status === 'appear_offline'}">
            <img
              [src]="user && user.avatar || 'assets/img/generic_avatar.png'"
              id="homeAvatarPicture"
              alt=""
            >
          </div>
        </div>
        <div *ngIf="user" class="col col-profile-detail marle15 layoutColumn layoutAlignCenterStart">
          <span>
            <b>{{ user.nick }}</b>
            ({{ user.email }})
          </span> 
          <div>
            <p>{{ user.status }}</p>
            <i *ngIf="user.subnick"><{{ user.subnick }}></i>
          </div>
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <div class="whiteContainerPadded marto15">
    <div class="layoutRow">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Buscar amigo" [(ngModel)]="query" />
        </mat-form-field>
      </div>
      <div class="col-md-auto">
        <img (click)="openDialog()" src="assets/img/logo_live_add.png" class="icon" alt="">
      </div>
    </div>

    <b *ngIf="user && user.friends">Amigos ({{ user.friends.length}}/{{ user.friends.length }})</b>
    <mat-list *ngIf="user && user.friends">
      <app-contact [uid]="user" *ngFor="let user of user.friends | search: query; let i = index"></app-contact>
    </mat-list>
  </div>
  
</div>


